body {
  background-image: url(../Assets/larosa.jpg);
  height: 100%;
  width: 100%;
  min-height: 100%;
}

#images {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#images-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#images-three {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#coins {
  width: 10px;
  height: 10px;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#playLoteria {
  border: 2px solid green;
  height: 150px;
  width: 250px;
}

#spacing {
  /* border: 5px solid orange; */
  padding: 0 100px;
}

#playing-cards {
  /* border: 5px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}
#container {
  background-image: url(../Assets/woodbackground.jpg);
  display: flex;
  justify-content: center;
  /* border: 5px solid blue; */
  padding: 350px 0px;
}
html {
  height: 100%;
}
