body {
  background-image: url(../Assets/larosa.jpg);
  height: 100%;
  width: 100%;
  min-height: 100%;
}

.coin-match {
  position: absolute;
  top: 90px;
  left: 40px;
}
#images {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#images-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#images-three {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#coins {
  display: flex;
  flex-direction: column;
  padding-right: 100px;
  height: 350px;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#playLoteria {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  height: 150px;
  width: 250px;
}

#spacing {
  /* border: 5px solid orange; */
  padding: 10px;
  background-color: white;
}

#playing-cards {
  /* border: 5px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}
#container {
  background-image: url(../Assets/woodbackground.jpg);
  display: flex;
  justify-content: center;
  /* border: 5px solid blue; */
  padding: 350px 0px;
}
html {
  height: 100%;
}
